body{
    background-color: white;
}
h1 {
    color:black;
	font-family: Geneva, Helvetica, sans-serif;
}
h2 {
    color:black;
	font-family: Geneva, Helvetica, sans-serif;
}
h4 {
	background-color:black;
    color:azure;
	font-family: Geneva, Helvetica, sans-serif;
}
h3 {
	background-color:black;
    color:azure;
	font-family: Geneva, Helvetica, sans-serif;
}
p {
    color:azure;
	font-family: Geneva, Helvetica, sans-serif;
}

nav{
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 140px;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 15px;
}
nav ul li a{
	text-decoration: none;
	color: black;
	font weight:400;
}
.kontak{
display: inline-block;
text-decoration: none;
padding: 14px 40px;
color: white;
background-image: linear-gradient(45deg, #000000,#000000);
font-family: Geneva, Helvetica, sans-serif;
font-size: 14px
border-radius: 30px;
border-top-right-radius: 95px;
border-top-left-radius: 180px;
border-bottom-left-radius: 180px;
border-bottom-right-radius: 180px;
transition: 0.5s;
margin-top: -5%;

}
.beranda{
font-family: Geneva, Helvetica, sans-serif;
}
.kategori{
font-family: Geneva, Helvetica, sans-serif;
}
.promo{
font-family: Geneva, Helvetica, sans-serif;
}
.content{
margin-top: -2.5%;
}
.kontak:hover{
border-top-right-radius:180px;
}
.speks.anim{
display: inline-block;
text-decoration: none;
padding: 12px 3px;
color: white;
background-image: linear-gradient(45deg, #000000,#000000);
font-family: Geneva, Helvetica, sans-serif;
font-size: 5px
border-radius: 5px;
border-top-right-radius: 95px;
border-top-left-radius: 180px;
border-bottom-left-radius: 180px;
border-bottom-right-radius: 180px;
transition: 0.5s;
margin-top: 5%;
animation-delay: 0.65s;
}
.speks:hover{
border-top-right-radius:180px;
}
.but.anim{
display: inline-block;
text-decoration: none;
padding: 12px 4px;
color: white;
background-image: linear-gradient(45deg, #000000,#000000);
font-family: Geneva, Helvetica, sans-serif;
font-size: 5px
border-radius: 10px;
border-top-right-radius: 55px;
border-top-left-radius: 180px;
border-bottom-left-radius: 180px;
border-bottom-right-radius: 180px;
transition: 1.0s;
margin-top: -5%;
animation-delay: 0.5s;
}
.but{
border-top-right-radius:180px;
}
.anim{
opacity:0;
transform: translateY(30px);
animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
100%{
opacity: 1;
transform: translateY(0px);
}
